.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

button{
    height: 3.5rem;
    border-radius: 0.8rem;
    outline: none;
    border: none;
    font-weight: 100%;
    opacity: 0.8;
    width: 100%;
    margin: 1rem auto;
}

button:hover{
    opacity: 1;
    cursor: pointer;
}